<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<httpErrors existingResponse="PassThrough" />
		<iisnode nodeProcessCommandLine="&quot;c:\program files\nodejs\node.exe&quot;" watchedFiles="*.js" interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" />
        <handlers>
			<add name="iisnode" path="index.js" verb="*" modules="iisnode" />
        </handlers>		
		<rewrite>
			<rules>
                <clear />
                <rule name="default">
                    <match url="/*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.js" />
                </rule>
			</rules>
		</rewrite>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="node_modules" />
				</hiddenSegments>
                <verbs>
                </verbs>
			</requestFiltering>
		</security>
    </system.webServer>
</configuration>

